version: 2.1
jobs:
  build_test:
    docker:
      - image: cimg/python:3.8.17
    steps:
      - checkout # checkout source code to working directory
      - run:
          command: | # install dcmtk
            sudo apt-get update && sudo apt-get install dcmtk tree
      - run:
          command: | # launch DICOM C-Store Query/Retrieve SCP in the background
            echo "PWD: ${PWD}"
            ls -la "/home/circleci/project/.circleci/"
            mkdir -p "${PWD}"/tmp/dcmqrscpstore
            cd "${PWD}"/tmp/dcmqrscpstore
            # dcmqridx -v /tmp/dcmqrscpstore/SCU_STORE /home/circleci/project/.circleci/dicom/*.dcm
            dcmqrscp -d -c /home/circleci/project/.circleci/dcmqrscp.cfg
            tree /tmp/dcmqrscpstore/SCU_STORE
            echo "Run storescu"
            storescu -d --aetitle SCU --call SCU_STORE localhost 4444 /home/circleci/project/.circleci/dicom
            tree /tmp/dcmqrscpstore/SCU_STORE
          background: true
      - run:
          command: | # create whl and use pipenv to install dependencies
            echo "PWD: ${PWD}"
            mkdir -p "${PWD}"/tmp
            movescu -d 127.0.0.1 4444 \
              -aec SCU_STORE -aet SCU \
              -k 0008,0052=PATIENT --patient \
              --key 0010,0020=PACSMAN1 \
              --key 0020,000d=1.2.826.0.1.3680043.8.498.69409053433509233234015730854007104605 \
              --key 0020,000e=1.2.826.0.1.3680043.8.498.12814031504397760878777975869157995647 \
              --port 11112 -od "${PWD}"/tmp
            # movescu -ll debug www.dicomserver.co.uk 104 \
            #   -aec DICOMSERVER_Test -aet DICOMSERVER_Test -aem DICOMSERVER_Test \
            #   -k 0008,0052=PATIENT --patient \
            #   --key 0010,0020=PAT009 \
            #   --key 0020,000d=1.2.528.1.1001.100.2.3865.6101.93503564261.20070711142700372 \
            #   --key 0020,000e=1.2.528.1.1001.100.3.3865.6101.93503564261.20070711142700388 \
            #   --port 104 -od "${PWD}"/tmp
            tree "${PWD}"/tmp
 
workflows:
  build_test_publish:
    jobs:
      - build_test
